<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Platform</title>
</head>
<body>
    <form>
        <input type="text" id = "Youtube" name = "Youtube">
        <label for = "Youtube">Youtube</label>
        <input type="submit" id = "YoutubeSubmit" name = "YoutubeSubmit">
    </form>

    <form method="post" action="/twitterdata">
        <input type="text" id = "Twitter" name = "Twitter">
        <label for = "Twitter">Twitter</label>
        <input type="submit" id = "TwitterSubmit" name = "TwitterSubmit">
    </form>

    add more later
</body>
</html>